body {
	background-image: url("../hwImages/background.jpg");
	text-align: left;
	background-repeat: repeat;
}

.error {
	color: red;
}

#wrapper {
	width: 1300px;
	float: center;
}

#header {
	color: green; 
	font-size: 25px;
	font-family: sans-serif;
	float: top, center;
	text-align: center;
}

#navigation {
	width: 300px;
	float: left;
	text-align: center;
}

img {
	float: center;
	margin: 0 0 10px 10px;
}

#main {
	width: 1000px;
	float: right;
	text-align: left;
	color: white;
	font-size: 25px;
}

#questionLeft {
	width: 500px;
	float: left;
	text-align: right;
	color: white;
	font-size: 25px;
	border-style: solid;
	border-color: green;
}

#questionRight {
	width: 500px;
	float: right;
	text-align: left;
	color: white;
	font-size: 25px;
	border-style: solid;
	border-color: green;
}
#questionCenter {
	width: 800px;
	float: center;
	text-align: center;
	color: white;
	font-size: 25px;
	border-width: 10px;
	border-style: solid;
	border-color: green;
}

#navi {
	color: white;
	text-align: left;
}

a {
	color: green;
	float: left;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

label > input{ 
	display:none;
}
label > input + img{ 
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ 
  border:2px solid #f00;
}

#labelLeft {
	float: left;
}

#labelRight {
	float: right;
}

#labelCenter {
	float: center;
}

#formFooter {
	float: bottom, center;
}