body {
	background-image: url("../cookBookImages/purty_wood.png");
	text-align: left;
}

tr {
	margin-left: 100px;
	margin-right: 100px;
}

a {
	float: left;
}

label > input{ 
	display:none;
}
label > input + img{ 
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ 
  border:2px solid #f00;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #996633;
    border-radius: 5px;
    border-top: 5px solid #392613;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block form input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block form input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block form input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block form input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block form input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block form input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block form input#submitbutton {
    width: 50%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

#header {
	color: #e67200; 
	font-size: 50px;
	font-family: sans-serif;
	float: top, center;
	text-align: center;
}

#navigation {
	width: 300px;
	float: left;
	position: absolute;
	text-align: center;
	font-size: 25px;
}

#userBar {
	width: 300px;
	float: right;
	text-align: center;
	font-size: 25px;
}

#main {
	background-image: url("../cookBookImages/BookBackground.jpg");
	width: 1066px;
	float: center;
	margin-left: 250px;
	margin-bottom: 10px;	
	text-align: center;
	color: black;
	font-size: 25px;
	height: 715px;
	overflow: scroll;
}

#shoppingList {
	background-image: url("../cookBookImages/paper.jpg");
	width: 580px;
	float: center;
	position: fixed;
	margin-left: 250px;
	margin-bottom: 10px;	
	text-align: center;
	color: black;
	font-size: 25px;
	height: 715px;
	overflow: scroll;
}

#account {
	width: 1066px;
	float: center;
	margin-left: 250px;
	text-align: center;
	color: black;
	font-size: 25px;
}

#instructions {
	float: left;
	width: 500px;
	color: black;
}

#ingredients {
	float: left;
	width: 500px;
	color: black;
}

#ingName {
	float: right;
	text-align: left;
	width: 200px;
	color: black;
}

#ingAmt {
	float: left;
	text-align: right;
	width: 200px;
	color: black;
}

#shopName {
	float: right;
	text-align: right;
	width: 200px;
	color: black;
}

#shopAmt {
	float: left;
	text-align: right;
	width: 200px;
	color: black;
}

#add {
	float: left;
	margin-left: 50px;
}

#remove {
	float: left;
	margin-left: 150px;
	margin-right: 50px;
}

#likes {
	float: left;
	margin-left: 50px;
	margin-right: 50px;
}

#login {
	float: center;
	float: middle;
}

#recipes {
	float: left;
	margin-left: 5px;
	margin-right: 50px;
}

#checkOuts {
	float: left;
	margin-left: 30px;
	margin-right: 30px;
}

#edits {
	float: left;
	margin-left: 150px;
}

#picture {
	float: center;
	margin-left: 30px;
	margin-right: 30px;
}

.img {
	overflow: auto;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}